spring:
  sql:
    init:
      mode: never
  application:
    name: todolist
  # datasource:
  #   dynamic:
  #     primary: master
  #     strict: false
  #     datasource: {}

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true

server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

dynamic:
  datasource:
    ttl-minutes: 30
    maximum-pool-size: 10
    minimum-idle: 1
    connection-timeout-ms: 5000
    idle-timeout-ms: 300000
    databases:
      reporting:
        db-type: POSTGRES
        host: localhost
        port: 5432
        database: reporting
        use-service-name: false
      oracle-legacy:
        db-type: ORACLE
        host: localhost
        port: 1521
        database: orclpdb1
        use-service-name: true
