spring:
  sql:
    init:
      mode: never
  application:
    name: todolist
  # datasource:
  #   dynamic:
  #     primary: master
  #     strict: false
  #     datasource: {}

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true

server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

dynamic:
  datasource:
    ttl-minutes: 30


